body{
	margin: 0px;
	background-color: black;
	color: white;


}

.navbar-brand{
	font-family: 'RocknRoll One', sans-serif;
	

}

.nav-link{
	font-family: 'RocknRoll One', sans-serif;
}

ul{
	list-style: none; 
}


.banner{
	max-width: 100%;
  	height: auto;
	display: flex;
	justify-content: center;
}


li a{
	margin: 20px ; 
	display: inline-block;
	justify-content: center;
	color: yellow;
	
}

li a:hover{
	background-color: yellow;
	color: black;
}





.apel{
	font-family: 'RocknRoll One', sans-serif;
	text-align: center;
	width: 400px;
    border: 10px  dashed red;
    padding: 10px;
    margin: 20px auto ;
    color: white;
}



.interventie{
	font-family: 'RocknRoll One', sans-serif;
	margin: 20px auto;
	text-align: center;
	color: white;
}

.nonstop{
	display: inline-flex;
	word-wrap: normal;
	background-color: yellow;
	text-decoration-color: red;
	color: red;

}

h1 a:hover{
	color: red;
}

.btn-warning{
	background-color: yellow;
	width: 180px;
	height: 60px;


}

.btn-apel{
	font-size: large;
}

.linie{
	border: 1px solid black;
	
}

.whitebg {
    background: #fff;
    height: 100%;
    padding-top: 20px;
}



.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.servicii{
	font-family: 'RocknRoll One', sans-serif;
	text-align: center;
	margin: 10px auto;
	text-decoration: underline;


}



h2 .container{
	display: inline-block;
}


.butonapel{
	text-decoration: none;
	color: red;
}

.butonapel:hover{
	color: red;
}

div>img{
	width: 450px;
	height: 300px;
	display: grid;
	float: right;
	justify-content: right;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

div {
    display: block;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.landing-page .section-demo{
    margin-top: 50px;
   }

.section {
    padding: 30px 0;
    position: relative;
    background-color: black;
}  

.landing-page1 .container {
    max-width: 970px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.landing-page .carousel.fade {
    opacity: 1;
}

@media (max-width: 767px){
.landing-page .carousel {
    min-height: 210px;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.landing-page .carousel.fade .item:first-child {
    top: auto;
    position: relative;
}

.landing-page .carousel-inner > .item > img, .landing-page .carousel-inner > .item > a > img {
    display: block;
    margin: 0 auto;
    height: auto;
    border-radius: 10px;
    width: 100%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.landing-page .carousel.fade .item {
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    left: 0 !important;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block !important;
    z-index: 1;
}

.landing-page .carousel.fade .item.active {
    opacity: 1;
    -moz-transition: opacity ease-in-out .7s;
    -o-transition: opacity ease-in-out .7s;
    -webkit-transition: opacity ease-in-out .7s;
    transition: opacity ease-in-out .7s;
    z-index: 2;
}

.landing-page .carousel-inner > .item > img, .landing-page .carousel-inner > .item > a > img {
    display: block;
    margin: 0 auto;
    height: auto;
    border-radius: 10px;
    width: 100%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    line-height: 1;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}